 <div class="card category">
    <div class="name">
      {{transforming-text-input
        data-title="Click to edit"
        big=true
        name='categoryName'
        type='text'
        onCancel=(action onCancelSaveCategoryName model)
        onSave=(action onSaveCategoryName model)
        value=model.name
        placeholder='Name the category...'}}
    </div>

    <div class="summary category">
      <div class="progress-wrapper category {{if isEmpty "empty"}}">
              <span class="section-left">
                <span>
                  <p><strong>{{model.estimated}}</strong></p><p class="small">Estimated</p>
                </span>
                <span>
                  <p><strong>{{model.actual}}</strong></p><p class="small">Actual</p>
                </span>
              </span>

        <span class="section-right">
                {{hours-remaining estimated=model.estimated
                                  actual=model.actual
                                  text=true
                                  icon=true}}
        </span>

        {{completion-bar estimated=model.estimated actual=model.actual}}

      </div>
    </div>

    <div class="line-items">
      <div class="items-header">
        <p class="small description">Description</p>
        <p class="small estimated">Estimated</p>
        <p class="small actual">Actual</p>
      </div>
      {{#if isEmpty}}
        <div class="item empty">
          <h2>Add your first estimate item!</h2>
          <p>The descriptions of your items should match the descriptions of your time entries in Toggl.</p>
          <p class="small">Alba-tip: We recommend keeping them between 3-20 hours.</p>
        </div>
      {{/if}}
      {{#each sortedItems as |item|}}
        {{line-item-row model=item
                        onDeleteItem=(action onDeleteItem)
                        onSaveDescription=(action onSaveDescription)
                        onSaveEstimated=(action onSaveEstimated)
                        onSaveActual=(action onSaveActual)}}
      {{/each}}

      <div class="item-bottom">
        <button class="inline" {{action (action onAddNewItem model.id)}}><span>+</span> New Item</button>
      </div>
    </div>
  </div>
