{{#if isAddingNewProject}}
<span class="dark-bg" {{action "toggleIsAddingNewProject"}}></span>
<div class="card new-project">
  <h2>New Project</h2>
  <p class="small">Alba-Tip: Use the same name you used in Toggl to automatically import hours.</p>
  {{validated-text-input name='newProjectName'
                         type='text'
                         placeholder='Name your project'
                         value=newProjectName
                         maxlength=40
                         error=validations.attrs.newProjectName.message
                         showError=showError}}
  <div>
    <button class="cancel" {{action "toggleIsAddingNewProject"}}>Cancel</button>
    {{#spin-button action=(action 'saveButtonPressed') class="btn-primary" buttonStyle="contract"}}Save{{/spin-button}}
    {{error-message errors=errors}}
  </div>
</div>
{{else}}
<div class="new-item-box" {{action "toggleIsAddingNewProject"}}>
  <span>+ New Project</span>
</div>
{{/if}}