<div {{action 'cardClicked'}} class="card--project" >
  <div class="color green"></div>
  <div class="content">
    <div class="top-content">
      <h1 class="bold black">{{model.name}}</h1>
      <p class="small">{{model.updatedAt}}</p>
    </div>

    <div class="bottom-content">

      {{hours-remaining icon=true
                        text=true
                        class='status-component'
                        estimated=model.estimated
                        actual=model.actual}}
      <p class="small right">{{model.actual}}/{{model.estimated}}</p>
    </div>
  </div>
</div>