<div class="transforming-text-input {{if isActive 'is-active'}} {{if big 'big'}}">
  <span {{action 'makeActive'}}>
  {{validated-text-input icon='icon--edit' focusIn=(action 'makeActive' true) class='toggle-input' name=name type=type value=value placeholder=placeholder}}
  </span>
  <div class="btn-group">
    <button class="cancel" {{action 'cancel'}}>Cancel</button>
    <button class="btn-primary">Save</button>
  </div>
</div>