<div class="field {{if showError (if error "error")}}">
  {{input focus-in=focusIn id=name name=name type=type required='true' placeholder=placeholder value=value}}
  {{#if label}}
    <label for={{name}}>{{label}}</label>
  {{/if}}
  {{#if showError}}
    {{#if error}}
      <p>{{error}}</p>
    {{/if}}
  {{/if}}
  {{yield}}
</div>
