<div class="field {{if showError (if error "error")}}">
  {{#if icon}}
    <div class="{{icon}}"></div>
  {{/if}}
  {{#if label}}
    <label for={{name}}>{{label}}</label>
  {{/if}}
  {{input focus-in=focusIn class=class maxlength=maxlength name=name type=type required='true' placeholder=placeholder value=value}}
  {{#if showError}}
    {{#if error}}
      <p class="small">{{error}}</p>
    {{/if}}
  {{/if}}
  {{yield}}
</div>
