<div class="container--main">
  <div class="row">
    <div class="col-xs-1">
      <div class="header">
        {{#link-to "app.projects"}}<div class="icon--back"></div>{{/link-to}}
      </div>
    </div>
  <div class="col-xs-10">
    <div class="header">
      {{transforming-text-input
        data-title="Click to edit"
        big=true
        name='projectName'
        type='text'
        value='Case Status MVP'
        maxlength=40
        placeholder='Name your project...'}}
      <button class="btn-primary pull-right" {{action 'toggleIsShowingTogglModal'}}>Import from <img src="/img/toggl-logo-white.png" alt="Toggl"/></button>
    </div>

    <div class="summary">
      <div class="buffer">
        <div class="field">
          <label for="buffer">Buffer</label>
          <span class="percent-sign">%</span>
          {{live-updating-text-input
            name='buffer'
            type='number'
            placeholder='0'
            saveValue=(action "onBufferChanged")
            value=buffer}}
        </div>
      </div>

      <!-- TODO: Replace numbers with real ones from model-->
      <div class="progress-wrapper">
        <div class="content">
            <span class="section-left">
              <span>
                <p><strong>{{estimated}}</strong></p><p class="small">Estimated</p>
              </span>
              <span>
                <p><strong>{{actual}}</strong></p><p class="small">Actual</p>
              </span>
            </span>

          <span class="section-right">
              {{hours-remaining
                  text=true
                  icon=true
                  estimated=estimated
                  actual=actual}}
            <span class="empty-message">No hours estimated</span>
          </span>
        </div>
        {{completion-bar estimated=estimated actual=actual}}
      </div>
    </div>

    <div class="project-body">

  <!-- Sample category -->
  {{category-card onSaveDescription=(action "saveDescription")
                  onSaveEstimated=(action "saveEstimated")
                  onSaveActual=(action "saveActual")}}

  {{#if hasCategory}}

    {{#each category in model.categories}}
      {{category-card model=category
                      onSaveDescription=(action "saveDescription")
                      onSaveEstimated=(action "saveEstimated")
                      onSaveActual=(action "saveActual")}}
    {{/each}}
    {{new-category onSave=(action "addNewCategory")}}
  {{else}}
    {{new-category onSave=(action "addNewCategory")}}
    <div class="empty-state project">
      <div class="icon--up-arrow"></div>
      <div class="text">
        <h1 class="bold">Add the first category!</h1>
        <p class="light">Categories will match with tags in Toggle when you import your hours</p>
      </div>
    </div>
  {{/if}}
    </div>
</div>
  </div>
</div>

{{#if isShowingTogglModal}}
  {{toggl-modal
    close=(action 'toggleIsShowingTogglModal')}}
{{/if}}