<div class="header">
  <h1>Good {{timeOfDay}}, <strong>{{currentUser.user.firstName}}</strong>! 👋</h1>
  <p class="pull-right">
    {{#if sortedProjects}}
      {{model.length}} projects
    {{/if}}
  </p>

</div>
<div class="projects-wrapper">
  {{new-project-card onSave=(action 'createNewProject')}}


  {{#unless sortedProjects}}
    <div class="empty-state">
      <div class="icon--left-arrow"></div>
      <div class="text">
        <h1 class="bold">Add your first project</h1>
        <p class="light">Thanks for signing up! Whenever you're ready, create your first estimate.</p>
      </div>
    </div>
  {{/unless}}

  {{#each sortedProjects as |project|}}
    {{project-card model=project onCardClicked=(route-action 'goToProject')}}
  {{/each}}
</div>