{{#unless currentUser.needsToUpgrade.isPending}}
  {{#if currentUser.needsToUpgrade.content}}
    <div class="header">
      <div class="row center-xs">
        <div class="col-xs-10 col-sm-8">
          <h2>It's time to upgrade 🚀</h2>
          {{#if currentUser.isOwner}}
            <p>Looks like you have more {{if currentUser.pastLimit currentUser.pastLimit 'projects or users'}} than your
              plan allows. Don't worry, upgrading is easy! Just choose a plan and you'll be back to using Albatross in
              no time.</p>
            <section>
              {{#link-to 'app.upgrade'}}
                <button class="btn-primary">Choose a plan</button>{{/link-to}}
            </section>
          {{else}}
            <p>Looks like you have more {{if currentUser.pastLimit currentUser.pastLimit 'projects or users'}} than your
              plan allows. Don't worry, upgrading is easy! Talk to your team owner about upgrading your plan and you'll
              be back to using Albatross in no time.</p>
          {{/if}}
        </div>
      </div>
    </div>
  {{else}}
    <div class="header">
      <h1>Good {{timeOfDay}}, <strong>{{currentUser.user.firstName}}</strong>! 👋</h1>
      <p class="pull-right">
        {{#if sortedProjects}}
          {{model.length}} projects
        {{/if}}
      </p>

    </div>
    <div class="projects-wrapper">
      {{#if canAdd}}
        {{new-project-card onSave=(action 'createNewProject')}}
      {{else}}
        <div class="card new-project">
          <h2>Upgrade to add projects!</h2>
          {{#if currentUser.isOwner}}
            <p class="small">Our free tier only allows one project at a time. To add more projects, just upgrade to a
              paid plan starting at $10/month.</p>
            <br/>
            <div>
              {{#spin-button class="btn-primary" buttonStyle="contract"}}Upgrade Now!{{/spin-button}}
              {{error-message errors=errors}}
            </div>
          {{else}}
            <p class="small">Our free tier only allows one project at a time. Talk to your team owner (the one who
              originally signed up) about upgrading to a paid plan, starting at just $10/month for unlimited
              projects.</p>
          {{/if}}
        </div>
      {{/if}}



      {{#unless sortedProjects}}
        <div class="empty-state">
          <div class="icon--left-arrow"></div>
          <div class="text">
            <h1 class="bold">Add your first project</h1>
            <p class="light">Thanks for signing up! Whenever you're ready, create your first estimate.</p>
          </div>
        </div>
      {{/unless}}

      {{#each activeProjects as |project|}}
        {{project-card model=project onCardClicked=(route-action 'goToProject')}}
      {{/each}}
    </div>
  {{/if}}
{{/unless}}