<div class="header text-center">
  <h1>Settings</h1>
</div>


<div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">
    <div class="container">
      <section class="text-center">
        <p class="small">Are you loving Albatross so far? <a href="https://ctt.ec/DT81t" target="_blank">Tweet about it!</a></p>
      </section>
    </div>
    <div class="card">
      <h1>Account</h1>
      <section>
        {{validated-text-input name='firstName'
                               type='text'
                               placeholder='First Name'
                               class='half-field-wrapper'
                               label='First Name'
                               value=model.firstName
                               error=model.validations.attrs.firstName.message
                               showError=showError}}

        {{validated-text-input name='lastName'
                               type='text'
                               placeholder='Last Name'
                               class='half-field-wrapper'
                               label='Last Name'
                               value=model.lastName
                               error=model.validations.attrs.lastName.message
                               showError=showError}}

        {{validated-text-input name='emailAddress'
                               type='text'
                               placeholder='Enter your email...'
                               label='Email'
                               value=model.email
                               error=validations.attrs.email.message
                               showError=showError}}
        <label class="checkbox">
          Receive weekly emails about your projects
          {{input type="checkbox" name="wantsWeeklyEmails" checked=model.profile.wantsWeeklyEmails}}
          <div class="indicator"></div>
        </label>
      </section>

      {{#if model.profile.togglApiKey}}
        <section>
          {{validated-text-input name='togglToken'
                                 type='text'
                                 placeholder='Toggl API Token'
                                 label='Toggl API Token'
                                 value=model.profile.togglApiKey}}
          <p class="small">You can find your Toggl API Token by going to your <a href="https://toggl.com/app/profile" target="_blank">profile settings on Toggl</a> and scrolling all the way to the bottom</p>
        </section>
      {{/if}}
      {{#if model.profile.harvestAccessToken}}
        <section>
          <img src="img/harvest-logo.png" class="harvest-logo" alt="Harvest"/>
          <p class="small">You're connected with Harvest so you can automatically import hours from your Harvest projects.</p>
        </section>
      {{/if}}

      {{#spin-button action=(action 'saveAccountButtonPressed') class="btn-primary" buttonStyle="contract"}}Save{{/spin-button}}

      <section>
        {{error-message errors=accountErrors}}
      </section>

    </div>

    <div class="card">
      <h1>Change Password</h1>
      {{validated-text-input name='currentPassword'
                             type='password'
                             placeholder='Enter your current password...'
                             label='Current Password'
                             value=currentPassword}}

      {{validated-text-input name='newPassword'
                             type='password'
                             placeholder='Enter a new password...'
                             label='New Password'
                             value=newPassword}}

      {{#spin-button action=(action 'changePasswordButtonPressed') class="btn-primary" buttonStyle="contract"}}Save{{/spin-button}}

      <section>
        {{error-message errors=passwordErrors}}
      </section>

    </div>

    {{#if currentUser.isOwner}}

      {{#if plan}}
        <div class="card">
          <h1>Billing</h1>
          <section>
            {{#if isCancellingPlan}}
              <h2>Are you sure you want to cancel?</h2>
              <p>We'd hate to see you go. If there's anything we can do, whether it's adding more emoji or features, please let us know. If you really want to break our hearts, click to big red button.</p>
              <button class="btn-primary" {{action "cancelPlan"}}>Yes, cancel my plan</button>
              <button class="cancel" {{action "toggleIsCancellingPlan"}}>Nevermind</button>
            {{else}}
            <label>Current Plan</label>
            <h2>{{planLabel}}</h2>
            <p class="small">{{planAmount}} billed {{planBillingCycle}} | {{planDescription}}</p>
            {{#if planCanceled}}
            <p class="red">Your subscription will not renew and ends on {{moment-format currentUser.teamPlanEndPeriod 'MM/DD/YYYY'}}</p>
            {{/if}}
            {{#if isChangingPlan}}
              <section>
                <div class="row center-xs">
                  <div class="col-xs-12 col-sm-6">
                    <div class="card payment-plan full-width">
                      <h2>Freelancer </h2>
                      <p class="light">Unlimited projects, up to 5 users</p>
                      <div class="options">
                        {{payment-plan-option choosePlan=(action "choosePlan") plan=plans.freelancer.monthly text="Cancel anytime" selectedPlan=selectedPlan}}
                        {{payment-plan-option choosePlan=(action "choosePlan") plan=plans.freelancer.annually text="Save 16%" selectedPlan=selectedPlan}}
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <div class="card payment-plan full-width">
                      <h2>Agency </h2>
                      <p class="light">Unlimited everything</p>
                      <div class="options">
                        {{payment-plan-option choosePlan=(action "choosePlan") plan=plans.agency.monthly price="$25/month" text="Cancel anytime" selectedPlan=selectedPlan}}
                        {{payment-plan-option choosePlan=(action "choosePlan") plan=plans.agency.annually price="$250/year" text="Save 16%" selectedPlan=selectedPlan}}
                      </div>
                    </div>
                  </div>
                </div>
                {{#spin-button action=(action 'updatePlan') class="btn-primary" buttonStyle="contract"}}Save{{/spin-button}}
                <button class="cancel" {{action "toggleIsChangingPlan"}}>Cancel</button>
              </section>
            {{else}}
              <button class="btn-small" {{action "toggleIsChangingPlan"}}>Change plan</button>
              {{#unless planCanceled}}
                <button class="cancel" {{action "toggleIsCancellingPlan"}}>Cancel plan</button>
              {{/unless}}
            {{/if}}
            {{/if}}
          </section>
          <section>
            <label>Payment Method</label>
            <p>{{currentCard.card_kind}}</p>
            <p class="small">*** *** *** {{currentCard.card_last_4}}</p>
            {{#unless isChangingCard}}
              <button class="btn-small" {{action "toggleIsChangingCard"}}>Change card</button>
            {{/unless}}
          </section>
          {{#if isChangingCard}}
            <section>
              <h2>Change Credit Card</h2>
              <p class="small">Your updated card will be for the next upcoming charge</p>
              {{#credit-card form="#payment-form"}}
                <div class="payment-form-wrapper">
                  <form id='payment-form' class='payment-info'>
                    <div class="ui input">
                      <label>Credit Card Number</label>
                      {{input type="text" value=creditCard.number name='number' placeholder='Credit Card Number'}}
                    </div>

                    <div class="ui input">
                      <label>Name on Credit Card</label>
                      {{input type="text" value=creditCard.name name='name' placeholder='Name on Credit Card'}}
                    </div>

                    <div class="ui input exp">
                      <label>Expiration</label>
                      {{input type="text" name='expiry' value=expDate placeholder='MM/YY'}}
                    </div>

                    <div class="ui input cvc">
                      <label>CVC</label>
                      {{input type="text" name='cvc' value=creditCard.cvc placeholder='CVC'}}
                    </div>
                  </form>

                  <div class="total">
                    {{#spin-button action=(action 'updateCard') class="btn-primary" buttonStyle="contract"}}Save{{/spin-button}}
                    <button class="cancel" {{action "toggleIsChangingCard"}}>Cancel</button>
                  </div>
                </div>
              {{/credit-card}}
            </section>
            <section>
              {{error-message errors=cardErrors}}
            </section>
          {{/if}}

        </div>
      {{/if}}
    {{/if}}
  </div>
</div>

{{notification-container position="top-right"}}