<div class="header text-center">
  <h1>Settings</h1>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">
    <div class="card">
      <section>
        {{validated-text-input name='firstName'
                               type='text'
                               placeholder='First Name'
                               class='half-field-wrapper'
                               label='First Name'
                               value=model.firstName
                               error=model.validations.attrs.firstName.message
                               showError=showError}}

        {{validated-text-input name='lastName'
                               type='text'
                               placeholder='Last Name'
                               class='half-field-wrapper'
                               label='Last Name'
                               value=model.lastName
                               error=model.validations.attrs.lastName.message
                               showError=showError}}

        {{validated-text-input name='emailAddress'
                               type='text'
                               placeholder='Enter your email...'
                               label='Email'
                               value=model.emailAddress
                               error=validations.attrs.emailAddress.message
                               showError=showError}}
      </section>
      <section>
        {{validated-text-input name='toggleToken'
                               type='text'
                               placeholder='Toggle API Token'
                               label='Toggle API Token'
                               value=toggleToken
                               error=model.validations.attrs.toggleToken.message
                               showError=showError}}
        <p class="small">You can find your Toggl API Token by going to your <a>profile settings on Toggl</a> and scrolling all the way to the bottom</p>
      </section>
      <section>
        <h2>Reset Password</h2>
        {{validated-text-input name='password'
                               type='text'
                               placeholder='Enter a new password...'
                               label=''
                               value=password
                               error=validations.attrs.password.message
                               showError=showError}}
      </section>


      {{#spin-button action=(action 'saveAccountButtonPressed') class="btn-primary" buttonStyle="contract"}}Save{{/spin-button}}

      <section>
        {{error-message errors=accountErrors}}
      </section>
    </div>
  </div>
</div>