<div class="header text-center">
  <h1>Settings</h1>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">
    <div class="card">
      <h1>Account</h1>
      <section>
        {{validated-text-input name='firstName'
                               type='text'
                               placeholder='First Name'
                               class='half-field-wrapper'
                               label='First Name'
                               value=model.firstName
                               error=model.validations.attrs.firstName.message
                               showError=showError}}

        {{validated-text-input name='lastName'
                               type='text'
                               placeholder='Last Name'
                               class='half-field-wrapper'
                               label='Last Name'
                               value=model.lastName
                               error=model.validations.attrs.lastName.message
                               showError=showError}}

        {{validated-text-input name='emailAddress'
                               type='text'
                               placeholder='Enter your email...'
                               label='Email'
                               value=model.email
                               error=validations.attrs.email.message
                               showError=showError}}
      </section>
      <section>
        {{validated-text-input name='toggleToken'
                               type='text'
                               placeholder='Toggle API Token'
                               label='Toggle API Token'
                               value=model.profile.togglApiKey}}
        <p class="small">You can find your Toggl API Token by going to your <a href="https://toggl.com/app/profile" target="_blank">profile settings on Toggl</a> and scrolling all the way to the bottom</p>
      </section>

      {{#spin-button action=(action 'saveAccountButtonPressed') class="btn-primary" buttonStyle="contract"}}Save{{/spin-button}}

      <section>
        {{error-message errors=accountErrors}}
      </section>

    </div>

    <div class="card">
      <h1>Change Password</h1>
      {{validated-text-input name='currentPassword'
                             type='password'
                             placeholder='Enter your current password...'
                             label='Current Password'
                             value=currentPassword}}

      {{validated-text-input name='newPassword'
                             type='password'
                             placeholder='Enter a new password...'
                             label='New Password'
                             value=newPassword}}

      {{#spin-button action=(action 'changePasswordButtonPressed') class="btn-primary" buttonStyle="contract"}}Save{{/spin-button}}

      <section>
        {{error-message errors=passwordErrors}}
      </section>

    </div>

    {{#if currentUser.isOwner}}

      {{#if plan}}
        <div class="card">
          <h1>Billing</h1>
          <section>
            <label>Current Plan</label>
            <h2>{{planLabel}}</h2>
            <p class="small">{{planAmount}} billed {{planBillingCycle}} | Unlimited projects, up to 5 users</p>
            {{#if isChangingPlan}}
              <section>
                <div class="row center-xs">
                  <div class="col-xs-12 col-sm-6">
                    <div class="card payment-plan full-width">
                      <h2>Freelancer </h2>
                      <p class="light">Unlimited projects, up to 5 users</p>
                      <div class="options">
                        {{payment-plan-option choosePlan=(action "choosePlan") plan="freelancer-beta-monthly" price="$10/month" text="Cancel anytime" selectedPlan=selectedPlan}}
                        {{payment-plan-option choosePlan=(action "choosePlan") plan="freelancer-beta-annual" price="$100/year" text="Save 16%" selectedPlan=selectedPlan}}
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <div class="card payment-plan full-width">
                      <h2>Agency </h2>
                      <p class="light">Unlimited everything</p>
                      <div class="options">
                        {{payment-plan-option choosePlan=(action "choosePlan") plan="agency-beta-monthly" price="$25/month" text="Cancel anytime" selectedPlan=selectedPlan}}
                        {{payment-plan-option choosePlan=(action "choosePlan") plan="agency-beta-annual" price="$250/year" text="Save 16%" selectedPlan=selectedPlan}}
                      </div>
                    </div>
                  </div>
                </div>
                <button class="btn-primary">Save</button>
                <button class="cancel" {{action "toggleIsChangingPlan"}}>Cancel</button>
              </section>

            {{else}}
              <button class="btn-small" {{action "toggleIsChangingPlan"}}>Change plan</button>
              <button class="cancel">Cancel plan</button>
            {{/if}}
          </section>
          <section>
            <label>Payment Method</label>
            <p>Austin Price</p>
            <p class="small">Mastercard, *** *** *** 0000</p>
            {{#unless isChangingCard}}
              <button class="btn-small" {{action "toggleIsChangingCard"}}>Change card</button>
            {{/unless}}
          </section>
          {{#if isChangingCard}}
            <section>
              <h2>Change Credit Card</h2>
              <p class="small">Your updated card will be for the next upcoming charge</p>
              {{#credit-card form="#payment-form"}}
                <div class="payment-form-wrapper">
                  <form id='payment-form' class='payment-info'>
                    <div class="ui input">
                      <label>Credit Card Number</label>
                      {{input type="text" value=creditCard.number name='number' placeholder='Credit Card Number'}}
                    </div>

                    <div class="ui input">
                      <label>Name on Credit Card</label>
                      {{input type="text" value=creditCard.name name='name' placeholder='Name on Credit Card'}}
                    </div>

                    <div class="ui input exp">
                      <label>Expiration</label>
                      {{input type="text" name='expiry' value=expDate placeholder='MM/YY'}}
                    </div>

                    <div class="ui input cvc">
                      <label>CVC</label>
                      {{input type="text" name='cvc' value=creditCard.cvc placeholder='CVC'}}
                    </div>
                  </form>

                  <div class="total">
                    <button class="btn-primary" {{action "upgrade"}}>Save</button>
                    <button class="cancel" {{action "toggleIsChangingCard"}}>Cancel</button>
                  </div>
                </div>
              {{/credit-card}}
            </section>
          {{/if}}

          <section>
            {{error-message errors=passwordErrors}}
          </section>

        </div>
      {{/if}}
    {{/if}}
  </div>
</div>

{{notification-container position="top-right"}}