<div class="header text-center">
  <h1>Users</h1>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">
    <div class="card">
      <h1>Invite a New User</h1>
      <section>
        {{validated-text-input name='emailAddress'
                               type='text'
                               placeholder='Enter an email...'
                               value=emailAddress
                               error=validations.attrs.emailAddress.message
                               showError=showError}}
        <p class="small">
          To add your teammates to Albatross, just enter their email and we'll send them a link to join
        </p>
      </section>
      {{#spin-button action=(action 'inviteButtonPressed') class="btn-primary" buttonStyle="contract"}}Invite{{/spin-button}}
      <section>
        {{error-message errors=errors}}
      </section>
    </div>


    <div class="card has-line-items">

      <div class="inner-content">
        <h1>Current Users</h1>
      </div>

      <div class="line-items">
        <div class="items-header">
          <p class="small name">Name</p>
          <p class="small email">Email</p>
        </div>


        {{#if model.users}}
        {{#each model.users as |user|}}
        <div class="item">
          <div class="name">
            {{#if user.name}}
            <p>{{user.name}}</p>
            {{else}}
              <p>Not registered yet</p>
            {{/if}}
          </div>
          <div class="email">
            <p>{{user.email}}</p>
          </div>
        </div>
        {{/each}}
        {{/if}}
      </div>
    </div>

  </div>

</div>