{{#if needsToUpgrade}}
<div class="container--main upgrade landing-page">
  <div class="logo"></div>
  <div class="header">
    <div class="row center-xs">
      <div class="col-xs-10 col-sm-8">
        <h2>It's time to upgrade 🚀</h2>
        <p>Looks like you have {{pastLimit}}. Don't worry, though! Upgrading is easy. Just select a plan below and you'll be back to using Albatross in no time.</p>
      </div>
    </div>
  </div>
  <div class="row around-sm">
    <div class="col-xs-12 col-sm-10">
      <div class="row around-sm">
        <div class="col-xs-12 col-sm-5">
          <div class="pricing-container margin-top">
            <p>Freelancer</p>
            <h1>$10</h1>
            <p class="grey">per month</p>
            <p class="margin-top">Unlimited projects</p>
            <p class="margin-top">Up to 5 users</p>
            {{#link-to 'signup'}}<button class="btn-primary">Upgrade Now</button>{{/link-to}}
          </div>
        </div>

        <div class="col-xs-12 col-sm-5">
          <div class="pricing-container margin-top">
            <p>Agency</p>
            <h1>$25</h1>
            <p class="grey">per month</p>
            <p class="margin-top">Unlimited projects</p>
            <p class="margin-top">Up to 25 users</p>
            {{#link-to 'signup'}}<button class="btn-primary">Upgrade Now</button>{{/link-to}}
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
{{else}}
<div class="navbar">
  <div class="container">
    <div class="left-nav">

      {{#link-to 'app.projects'}}<div class="logo"></div>{{/link-to}}

      <ul class="nav-list">
        <li>{{#link-to 'app.projects'}}Projects{{/link-to}}</li>
        <li>{{#link-to 'app.users'}}Users{{/link-to}}</li>
        <li><a class="user-name {{if isShowingMenu 'is-active'}}" {{action 'toggleIsShowingMenu'}}>{{currentUser.user.name}}<div class="icon--down"></div></a></li>
      </ul>

    </div>
    <div class="right-nav">
      <ul>
        <li><a class="user-name {{if isShowingMenu 'is-active'}}" {{action 'toggleIsShowingMenu'}}>{{currentUser.user.name}}<div class="icon--down"></div></a></li>
      </ul>
    </div>

    {{#if isShowingMenu}}
      <div class="transparent-bg" {{action 'toggleIsShowingMenu'}}></div>
      <ul class="user-options">
        <li><p class="small">{{teamName}}</p></li>
        <li {{action 'toggleIsShowingMenu'}}>{{#link-to 'app.settings'}}Settings{{/link-to}}</li>
        <li {{action 'toggleIsShowingMenu'}}><a id="logout" href="" {{action 'logout'}}>Logout</a></li>
      </ul>
    {{/if}}
  </div>
</div>

<div class="container--main">
  {{outlet}}
</div>

<footer>
  <div class="container">
    <div class="logo pull-left"></div>
    <ul class="nav-list pull-right">
      <li><a href="https://builtbykrit.com/?ref=Albatross" target="_blank">built by krit</a></li>
      <li><p class="small">Copyright © 2017</p></li>
    </ul>
  </div>
</footer>
{{/if}}