<div class="navbar">
  <div class="container">
    <div class="left-nav">

      <div class="logo"></div>

      <ul class="nav-list">
        <li>{{#link-to 'app.projects'}}Projects{{/link-to}}</li>
        <li>{{#link-to 'app.users'}}Users{{/link-to}}</li>
      </ul>

    </div>
    <div class="right-nav">
      <div class="user-profile {{if isShowingMenu 'is-active'}}">

        <ul>
          <li><a class="user-name" {{action 'toggleIsShowingMenu'}}>Austin Price<div class="icon--down"></div></a></li>
        </ul>

        {{#if isShowingMenu}}
          <div class="transparent-bg" {{action 'toggleIsShowingMenu'}}></div>
          <ul class="user-options">
            <li><p class="small">Built By Krit</p></li>
            <li {{action 'toggleIsShowingMenu'}}>{{#link-to 'app.settings'}}Settings{{/link-to}}</li>
            <li {{action 'toggleIsShowingMenu'}}><a id="logout" href="" {{action 'logout'}}>Logout</a></li>
          </ul>
        {{/if}}

      </div>
    </div>
  </div>
</div>

<div class="container--main">
  {{outlet}}
</div>

<footer>
  <div class="container">
    <div class="logo pull-left"></div>
    <ul class="nav-list pull-right">
      <li><a href="https://builtbykrit.com/?ref=Albatross" target="_blank">built by krit</a></li>
      <li><p class="small">Copyright © 2017</p></li>
    </ul>
  </div>
</footer>