<div class="navbar">
  <div class="container">
    <div class="left-nav">
      <div class="logo"></div>
      <ul class="nav-list">
        <li>{{#link-to 'app.projects'}}Projects{{/link-to}}</li>
        <li>{{#link-to 'app.users'}}Users{{/link-to}}</li>
      </ul>
    </div>
    <div class="right-nav">
      <ul class="nav-list">
        <li>{{#link-to 'app.settings'}}Settings{{/link-to}}</li>
        <li><a id="logout" href="" {{action 'logout'}}>Logout</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container--main">
  <div class="header">
    <h1>Good afternoon, Austin!</h1>
    <p>4 projects</p>
  </div>

  <div class="row">
    <div class="col-xs-4">
      <div class="card--project">
        <div class="color green"></div>
        <div class="content">

          <div class="top-content">
            <h1 class="bold">Case Status MVP</h1>
            <p class="small">updated 08/27/17</p>
          </div>

          <div class="bottom-content">
            <span class="status green left">
              <span class="icon"></span>
              <p>83 under</p>
            </span>
            <p class="small right">112/195</p>
          </div>

        </div>
      </div>
    </div>

    <div class="col-xs-4">
      <div class="card--project">
        <div class="color red"></div>
        <div class="content">

          <div class="top-content">
            <h1 class="bold">Inspire A Career</h1>
            <p class="small">updated 08/27/17</p>
          </div>

          <div class="bottom-content">
            <span class="status red left">
              <span class="icon"></span>
              <p>83 under</p>
            </span>
            <p class="small right">112/195</p>
          </div>

        </div>
      </div>
    </div>

    <div class="col-xs-4">
      <div class="card--project">
        <div class="color yellow"></div>
        <div class="content">

          <div class="top-content">
            <h1 class="bold">Forty Seven South Updates</h1>
            <p class="small">updated 08/27/17</p>
          </div>

          <div class="bottom-content">
            <span class="status yellow left">
              <span class="icon"></span>
              <p>83 under</p>
            </span>
            <p class="small right">112/195</p>
          </div>

        </div>
      </div>
    </div>
  </div>
  {{outlet}}
</div>

<div class="container--main">
  <hr/>
</div>

<div class="container--main">
  <div class="row">
    <div class="col-xs-1">
      <div class="header">
        <a>Back</a>
      </div>
    </div>

    <div class="col-xs-10">
      <div class="header">
        {{transforming-text-input
            big=true
            name='projectName'
            type='text'
            value='Case Status MVP'
            placeholder='Name your project...'}}
        <button class="btn-primary pull-right">Import from Toggl</button>
      </div>

      <div class="summary">
        <div class="buffer">
          <div class="field">
            <label for="buffer">Buffer</label>
            <span class="percent-sign">%</span>
            {{live-updating-text-input
                name='buffer'
                type='number'
                placeholder='0'
                value=8}}
          </div>
        </div>

        <div class="progress-wrapper">
          <div class="content">
            <span class="section-left">
              <span>
                <p><strong>137</strong></p><p class="small">Estimated</p>
              </span>
              <span>
                <p><strong>92</strong></p><p class="small">Actual</p>
              </span>
            </span>

            <span class="section-right">
              <span class="status yellow">
                <span class="icon"></span>
                <p>83 under</p>
              </span>
            </span>
          </div>
          <div class="progress-bar yellow">
            <div class="fill complete-75 yellow"></div>
          </div>
        </div>
      </div>

      <div class="project-body">
        <div class="card category">
          <div class="name">
            {{transforming-text-input
                big=true
                name='categoryName'
                type='text'
                value='Design'
                placeholder='Name your project...'}}
          </div>

          <div class="summary category">
            <div class="progress-wrapper category">
              <span class="section-left">
                <span>
                  <p><strong>137</strong></p><p class="small">Estimated</p>
                </span>
                <span>
                  <p><strong>92</strong></p><p class="small">Actual</p>
                </span>
              </span>

                <div class="progress-bar">
                  <div class="fill complete-45 green"></div>
                </div>

                <span class="section-right">
                <span class="status green">
                  <span class="icon"></span>
                    <p>83 under</p>
                </span>
              </span>

            </div>
          </div>

          <div class="line-items">
            <div class="items-header">
              <p class="small description">Description</p>
              <p class="small estimated">Estimated</p>
              <p class="small actual">Actual</p>
            </div>

            <div class="item">
              <div class="description">
                {{validated-text-input class='toggle-input' name='itemName' type='text' value='This is an item' placeholder='Enter a description...'}}
              </div>
              <div class="estimated">
                {{validated-text-input class='toggle-input small' name='estimated' type='number' value='53' placeholder='0'}}
              </div>
              <div class="actual">
                {{validated-text-input class='toggle-input small' name='actual' type='number' value='35' placeholder='0'}}
              </div>
              {{hours-remaining
                  actual=35
                  estimated=53
                  icon=true
                  class='status-wrapper'}}
            </div>

            <div class="item">
              <div class="description">I am an item</div>
              <div class="estimated">53</div>
              <div class="actual">35</div>
              {{hours-remaining
                actual=35
                estimated=53
                icon=true
                class='status-wrapper'}}
            </div>

            <div class="item-bottom">
              <button class="btn-primary">+ New Item</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>